{% extends 'base/base.html' %}
{% load static %}

{% block title %}
    爱鲜蜂 | 首页
{% endblock %}

{% block extcss %}
    <link rel="stylesheet" href="{% static 'home/css/home.css' %}">
    <link rel="stylesheet" href="{% static 'home/css/swiper.min.css' %}">
{% endblock %}

{% block extjs %}
    <script src="{% static 'home/js/swiper.min.js' %}"></script>
    <script src="{% static 'home/js/home.js' %}"></script>
{% endblock %}

{% block content %}
    <div class="home">

        <div class="swiper-container" id="top-swiper">
            <div class="swiper-wrapper">
{#                <div class="swiper-slide">Slide 1</div>#}
{#                <div class="swiper-slide">Slide 2</div>#}
{#                <div class="swiper-slide">Slide 3</div>#}
{#                <div class="swiper-slide">Slide 4</div>#}
{#                <div class="swiper-slide">Slide 5</div>#}
{#                <div class="swiper-slide">Slide 6</div>#}
{#                <div class="swiper-slide">Slide 7</div>#}
{#                <div class="swiper-slide">Slide 8</div>#}
{#                <div class="swiper-slide">Slide 9</div>#}
{#                <div class="swiper-slide">Slide 10</div>#}
                {% for wheel in wheels %}
                    <div class="swiper-slide">
                        <img src="{{ wheel.img }}" alt="">
                    </div>
                {% endfor %}
            </div>
            <!-- Add Pagination -->
            <div class="swiper-pagination"></div>
            <!-- Add Arrows -->
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
        </div>
    </div>
{% endblock %}